<p>Er is een nieuw reserveringsverzoek ingediend met onderstaande gegevens:</p>

<p>
    Naam: {{ name }}<br>
    Adres: {{ streetNumber }}, {{ zipCode }}, {{ city }}<br>
    Telefoonnummer: {{ phone }}<br>
    Email adres: {{ email }}<br>
    Gewenste periode: {{ startDate }} - {{ endDate }}<br>
    Opmerkingen: {{ remarks }}<br>
</p>
