<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Herstelkamer Nootdorp{% endblock %}</title>
        <!--<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css">-->
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css">
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="container">
		<header><a href="/"><img src="../images/logo_color.png" /></a></header>
        
		{% block content %}{% endblock %}
    </div>



        <script src="{{ asset('js/jquery.js') }}" type="application/javascript"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}" type="application/javascript"></script>
        {#<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>#}
        {#<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>#}
        {% block javascripts %}{% endblock %}
    </body>
</html>
