<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Herstelkamer Nootdorp{% endblock %}</title>
    <!--<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css">-->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css">
    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.png') }}"/>
</head>
<body>
<center>
    <div class="container">
        <div id="header"><a href="{{ path('index') }}"><img src="{{ asset('images/logo_color.png') }}"/></a></div>

        {% block content %}{% endblock %}

        <div id="footer">
            <div id='footer_container'>

                <div class='footer_content'>
                    <a href={{ path('infoPage', { 'page': 'contact' }) }}>Contact</a><br/>
                    <span class='kvk'>KvK nr: 00000000</span>
                    <span class='kvk'>IBAN: NL00 INGB 0000000000</span>
                </div>

                <div class='footer_content'>
                    <div class='midden'>
                        <a href={{ path('infoPage', { 'page': 'boardOfAdvice' }) }}>Raad van Advies</a><br/>
                        <a href='#'>Algemene Voorwaarden</a>
                    </div>
                </div>

                <div class='footer_content'>
                    <div class='rechts'>
                        <a href={{ path('infoPage', { 'page': 'privacy' }) }}>Privacy en cookies</a><br/>
                        <a href={{ path('infoPage', { 'page': 'proclaimer' }) }}>Proclaimer</a>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <script src="{{ asset('js/jquery.js') }}" type="application/javascript"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}" type="application/javascript"></script>
    {#<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>#}
    {#<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>#}
    {% block javascripts %}{% endblock %}
</center>
</body>
</html>
